* {
  font-family: 'Inter', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  background-color: hsl(36, 100%, 99%);
}

h1 {
  font-weight: 800 !important;
  font-size: 64px !important;
  margin: 10px 0 0 0;
  color: hsl(240, 100%, 5%) !important;
}

h2 {
  color: hsl(35, 77%, 62%);
  align-self: flex-start; 
  font-weight: 600;
  padding: 2rem 0 0 0;
  font-size: 40px;
  margin-bottom: 10px;
}

h4 {
  color: white;
  padding-top: 25px;
  transition: color 100ms;
}

h4:hover {
  color: hsl(35, 77%, 62%);
}

h5 {
  color: hsl(233, 8%, 79%);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px;
}

p {
  font-size: 15px;
  margin: 0;
}

button {
  background-color: hsl(5, 85%, 63%);
  border: none;
  color: white;
  padding: 15px 30px 15px 30px;
  letter-spacing: 5px;
  margin: 40px 0 0 0;
  position: absolute;
  transform: translateY(20px);
  transition: background-color 0.3ms;
}

button:hover {
  background-color: hsl(240, 100%, 5%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
  padding-bottom: 3rem;
}

a.links {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  font-size: 18px;
  padding: 0 45px;
  transition: color 100ms;
}

.links:hover {
  color: hsl(35, 77%, 62%);
}


.links:last-child {
  padding-right: 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  margin: 0;
}

.manu {
  display: none;
}

.toggle-button  {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 45px;
  height: 25px;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

/* main content */

main {
  flex: 1;
}

.grid-sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.header-img-section {
  grid-column: span 2;
}

.main-title-section {
  grid-column-start: 1;
}

.news-section {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: hsl(240, 100%, 5%);
  margin-left: 0;
}

.sub-title-section {
  color: hsl(236, 13%, 42%);
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  margin-top: 10px;
}

.news-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.main-img {
  width: 100%;
  object-fit: cover;
}

.main-text {
  font-size: 18px;
}

.new-title {
  padding-top: 30px; 
}

.text-card {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.text-card:last-child {
  border-bottom: none;
  padding-bottom: 25px;
}

.article-card {
  display: flex;
  align-items: flex-end;
  padding-top: 50px;
}

.sub-text {
  color: hsl(233, 8%, 79%);
  margin-top: 10px;
  line-height: 35px;
  font-size: 18px;
}

.card-three {
  margin-bottom: 50px;
}

.sub-img {
  width: 120px;
}

.card-title {
  color: hsl(240, 100%, 5%);
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  transition: color 100ms;
}

.card-title:hover {
  color: hsl(5, 85%, 63%);
}

.card-text {
  color: hsl(236, 13%, 42%);
  font-size: 17px;
}

.card-info {
  padding-left: 30px;
}

/* Media Querrys */

@media (max-width: 1200px) {
  .navbar {
    padding-bottom: 2rem;
  }

  .grid-sections {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
  }

  .header-img-section {
    grid-column: 1;
    grid-row: 1 / 2;
  }

  .main-title-section {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  .sub-title-section {
    grid-column: 1;
    grid-row: 3 / 4;
    line-height: 30px;
    font-size: 15px;
  }

  .news-section {
    grid-column: 1;
    grid-row: 4 / 5;
  }

  h1 {
    font-size: 40px !important;
    font-weight: 800 !important;
  }

  .article-card {
    display: flex;
    align-items: center;
  }

  .card-title {
    color: hsl(240, 100%, 5%);
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
  }

  .article-card {
    padding-top: 20px;
  }

  .card-one {
    padding-top: 50px;
  }

  .sub-img {
    margin-right: 20px;
    
  }

  button {
    position: static;
    margin-top: 8px;
  }

  .sub-text {
    font-size: 13px;
  }

  .main-text {
    font-size: 14px;
  }

  .card-info {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .toggle-button {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .card-text {
    font-size: 13px;
  }
}


